.post-detail {
  background: white;
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid #eee;
}

.post-detail-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-detail-content {
  line-height: 1.5;
  margin-bottom: 2rem;
}
