.navbar {
  background: var(--pastel-lavender);
  padding: 1.5rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.navbar a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 600;
}

.navbar-links {
  display: flex;
  gap: 2rem; 
  justify-content: center; 
  align-items: center;
}


.navbar-links a:hover {
  color: var(--pastel-peach);
}

.nav-profile {
  font-weight: 500;
  color: var(--text-dark);
  padding: 0.3rem 0.6rem;
  border-radius: var(--radius);
  background: var(--pastel-peach);
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-profile:hover {
  background: var(--pastel-mint);
  transform: translateY(-2px);
}